---
import { findGeolocationData } from "../../tools/dataGetter";
import getElement from "../../tools/getElement";
import Map from "../Map/Map";
interface Props {
  code: string;
  addressClass?: string;
  containerClass?: string;
  mapContainerClass?: string;
}

const {
  code,
  addressClass = ".stoatiDefaultAddressClass",
  containerClass = ".stoatiDefaultContainerClass",
  mapContainerClass = ".stoatiDefaultMapContainerClass",
} = Astro.props;

const element = await getElement(code);

const schedule = findGeolocationData(element[0].data, "schedule");
---

{
  schedule ? (
    <div class={containerClass}>
      <span class={addressClass}>{schedule[0].address}</span>
      <Map
        lat={schedule[0].lat}
        lon={schedule[0].lon}
        mapContainerClass={mapContainerClass}
        client:only="react"
      />
    </div>
  ) : (
    <span>Aucune information est disponible</span>
  )
}
