---
import { findGeolocationData } from "../../tools/dataGetter";
import getElement from "../../tools/getElement";

interface Props {
  code: string;
  containerClass?: string;
}

const { code, containerClass } = Astro.props;

const element = await getElement(code);

const loc = findGeolocationData(element[0].data, "schedule");
---

{
  loc ? (
    <leaflet-map
      data-latitude={loc[0].lat}
      data-longitude={loc[0].lon}
      data-zoom={17}
      data-container={"StoatiMap"}
    />
  ) : (
    <span />
  )
}

<div id={"StoatiMap"} class={containerClass}></div>
<script>
  import "leaflet/dist/leaflet";
  import "leaflet/dist/leaflet.css";

  class LeafletMap extends HTMLElement {
    constructor() {
      super();

      const latlng = [
        Number(this.dataset.latitude),
        Number(this.dataset.longitude),
      ];

      //@ts-expect-error
      var map = L.map(this.dataset.container).setView(
        latlng,
        Number(this.dataset.zoom)
      );

      //@ts-expect-error
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      //@ts-expect-error
      L.marker([
        Number(this.dataset.latitude),
        Number(this.dataset.longitude),
      ]).addTo(map);
    }
  }

  window.customElements.define("leaflet-map", LeafletMap);
</script>

<style>
  .baseLeafletContainer {
    height: 61.8vh;
  }
</style>
